* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding-top: 18px;
    background-color: #FF6900;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
}

footer {
    background-color: black;
    height: 60px;
    width: 100%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
}

.margin-bttm {
    margin-bottom: 50px;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.col-25 {
    width: 25%;
    display: flex;
}

.col-50 {
    width: 50%;
    display: flex;
}

.col-33 {
    width: calc(100% / 3);
    padding: 50px 10px;
    position: relative;
}

.start {
    text-align: start;
    word-spacing: 10px;
}

.d-flex-start {
    justify-content: start;
    align-items: center;
}

.padding-lft {
    padding-left: 10px;
}

.padding-rght {
    padding-right: 10px;
}

.padding-top {
    padding-top: 15px;
}

.pad-top {
    padding-top: 50px;
}

.d-flex-center {
    justify-content: center;
    align-items: center;
}

.d-flex-end {
    justify-content: end;
    align-items: center;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
}

#menu {
    display: flex;
    list-style: none;
    font-weight: 800;
}

#menu li {
    padding: 0 10px;
}

#menu li a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 100px;
}

i {
    color: white;
    padding: 0 5px;
}

img {
    max-width: 100%;
}

.info {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding-top: 50px;
}

a {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

li {
    padding-right: 10px;
    padding-bottom: 10px;
}

.d-flex {
    display: flex;
}

.justify-start {
    justify-content: start;
}

.show {
     display: block;
}

.hidden {
    display: none;
}

.product:hover .hidden {
    display: block;
}

.product:hover .show {
    display: none;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    right: 10px;
}

.white {
    background-color: white;
}

.heart {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 25px;
}

.show-black {
    color: black;
    display: block;
}

.hidden-red {
    color: red;
    display: none;
}

.square:hover .hidden-red {
    display: block;
}

.square:hover .show-black {
    display: none;
}

.sale {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 2px 10px;
    position: absolute;
    bottom: 100px;
}

.sustainability {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: green;
    color: white;
    padding: 2px 10px;
    position: absolute;

}

.position-1  {
    bottom: 100px;
    left: 65px;
}

.position-2  {
    bottom: 100px;
}

.position-3 {
    bottom: 10px;
    left: 10px;
}

.position-4 {
    bottom: 10px;
    right: 300px;
}

.position-5 {
    bottom: 10px;
    right: 285px;
}

.brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.object {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
}

.bold {
    font-weight: 800;
}

.red {
    color: red;
}

.black {
    color: black;
    text-decoration: line-through;
}

.padding-top-footer {
    padding-top: 10px;
}

.icons {
    position: absolute;
    padding-top: 40px;
}

.position-footer {
    padding-right: 20px;
}

.size {
    font-size: 13px;
}




