* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding-top: 18px;
    background-color: #FF6900;
    width: 100%;
    height: 60px;
}

footer {
    background-color: black;
    height: 60px;
    width: 100%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.col-25 {
    width: 25%;
    display: flex;
}

.col-50 {
    width: 50%;
    display: flex;
}

.col-33 {
    width: calc(100% / 3);
    padding: 50px 10px;
    position: relative;
}

.start {
    text-align: start;
    word-spacing: 10px;
}

.d-flex-start {
    justify-content: start;
    align-items: center;
}

.padding-lft {
    padding-left: 10px;
}

.padding-rght {
    padding-right: 10px;
}

.padding-top {
    padding-top: 15px;
}

.d-flex-center {
    justify-content: center;
    align-items: center;
}

.d-flex-end {
    justify-content: end;
    align-items: center;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
    font-size: 12px;
}

.logo {
    width: 100px;
}

i {
    color: white;
    padding: 0 5px;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

a {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.d-flex {
    display: flex;
}

.justify-start {
    justify-content: start;
}

.show {
     display: block;
}

.hidden {
    display: none;
}

.product:hover .hidden {
    display: block;
}

.product:hover .show {
    display: none;
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    right: 10px;
}

.white {
    background-color: white;
}

.heart {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 25px;
}

.show-red {
    color: red;
    display: block;
}

.hidden-black {
    color: black;
    display: none;
}

